.slider {
    padding: 6rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem
}

.slider b {
    font-size: 1.3rem;
    letter-spacing: .5px;
}

.slider img {
    padding: 0 .25rem;
    width: 15rem;
    height: 5rem;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@media(width<=578px) {
    .slider {
        padding: 4rem 0;
    }

    .slider img {
        width: 10rem;
        height: 4rem;
    }
}